@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Альф XXX</h1>
    <a href="Privacy" class="btn btn-primary">Личный кобинет</a>
    <a href="ListOfProducts" class="btn btn-primary">Список товаров</a>
    <a href="PersonalAccount" class="btn btn-primary">Личный кабинет</a>
</div>
