@page
@model Perforator.Pages.PersonalAccountModel


<!DOCTYPE html>

<head runat="server">
    <title>Login</title>
</head>
<body>
    <
    <form method="post">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="Login" />
            <br />
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="Password" />
            <br />
            <button type="submit">Submit</button>
        </div>

    </form>
    <br/>
    <a href="Registration" class="btn btn-primary">Ругистрация</a>
</body>
